.in-main {
    position: relative;
    min-height: 69vh;

    .borderI {
        display: flex;
        padding: 12px;
        margin-bottom: 6px;
        border: 1px solid #ddd;
    
        .n {
            min-width: 160px;
        }
    
        .success {
            background-color: rgb(72, 216, 72);
            padding: 4px 6px;
            border-radius: 3px;
            border: 1px solid #fff;
            
        }
        
        .pass {
            padding: 4px 6px;
            border: 1px solid #fff;
            border-radius: 3px;
            background-color: rgb(240, 182, 75);
        
        }
    }
    
    .I-header {
        font-size: 22px;
        text-align: center;
        margin: 8px;
    }

    .in-page {
        position: absolute;
        bottom: 0;
        span {
            display: inline-block;
            margin: 12px 6px;
            padding: 4px 8px;
            border: 2px solid rgb(233, 179, 31);
            border-radius: 50%;
            background-color: #fff;
        }

        span:hover {
            border: 2px solid #fff;
            background-color: rgb(233, 179, 31);
            cursor: pointer;
        }

        .in-choose {
            border: 2px solid #fff;
            background-color: rgb(233, 179, 31);
        }
    }
}

@media (min-width: 760px) and (max-width: 1023px) {
    .in-main {
        margin-bottom: 36px;

        .in-page {
            bottom: -10%;
        }
    }
}

@media (max-width: 759px) {
    .in-main {
        border-radius: 0;
    }
}