.rank-header {
    padding: 12px 8px;
    font-size: 24px;
    font-style:italic;

}

.rank-body {
    margin: 8px auto;
    border-spacing: 0;
    border: 1px solid white;

    th {
        padding: 2px 4px;
        border: 1px solid white;
    }

    td {
        text-align: center;
        padding: 6px 4px;
        border: 1px solid white;
    }
}

