.searchHeader {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.searchInput {
    margin-top: 12px;

    input {
        width: 60%;
        min-height: 30px;
        border-radius: 6px;
        border: 2px solid yellowgreen;
    }
}

.none {
    display: none !important;
}

@media (min-width: 760px) and (max-width: 1023px) {
    .searchInput {
        input {

            width: 80%;
        }
    }
}